<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Update Album</title>
</head>
<body>
<h2>Update Album</h2>
<form action = "{{ url_for('updateAlbum') }}" method="POST">
        <div class="container">
            <input type="text" placeholder="Album Id" name="id" required>
            <input type="text" placeholder="Title" name="title" required>
            <input type="text" placeholder="Genre" name="genre" required>
            <button type="submit">Update</button>
        </div>
        <br>
</form>
</body>
</html>