<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Artist</title>
    <link rel="stylesheet" href='./../static/styles.css'/>
</head>
<body>
<div class = "home">
    <a href="/" class="button">Home</a>
</div>
<div class = "album-or-song">
    <SELECT>
        <OPTION Value="album">Album</OPTION>
        <OPTION Value="song">Song</OPTION>
    </SELECT>
</div>
<div class = "operation">
    <SELECT>
        <OPTION Value="add">Add</OPTION>
        <OPTION Value="update">Update</OPTION>
        <OPTION Value="delete">Delete</OPTION>
    </SELECT>
</div>

</body>

</html>