<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBtify</title>
    <link rel="stylesheet" href='./../static/styles.css'/>
<!--    <link rel= "stylesheet" type= "text/css" href="{{ url_for('static', filename='style.css')}}">-->
<!--    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300&display=swap" rel="stylesheet">-->
</head>
<body>


<div class="buttonHolder">

    <a href="listener" class="button">I am a Listener</a>
    <a href="artist" class="button">I am an Artist</a>
</div>
</body>
</html>