<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>DBtify</title>
    <link rel="stylesheet" href='./../static/styles.css'/>
    <link
      href="https://fonts.googleapis.com/css?family=Raleway"
      rel="stylesheet"
    />
    
</head>
<body>
    <div class="welcome">
        <header>
            <h1 style="font-size: 42px; color: aliceblue;">DBTIFY</h1>
            <p style="margin-top: 6px; font-size: 20px;">Create playlists and listen what's popular!</p>
        </header>
    </div>
    <div id="container">
        <div id="first">
            <a href="listener" style="font-size: x-large;">I am a Listener</a>
        </div>
        <div id="second">
            <a href="listener" style="font-size: x-large;">I am an Artist</a>
        </div>
        <div id="clear"></div>
    </div>
</body>
</html>