<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Listener</title>
    <link rel="stylesheet" href='./../static/styles.css'/>
    <h1>Listener Page</h1>
</head>
<body>
<div class = "home">
    <a href="/" class="button">Home</a>
</div>
<br>
<div class="operations">
    <a href="/song/view">View Songs</a>
    <a href="/album/view">View Albums</a>
    <a href="/artist/view">View Artists</a>
</div>
<br>
<div>
    <a href="/artist/info">Song and Albums of an Artist</a>
    <a href="/like/viewSongLikes">View Song Likes</a>
    <a href="/like/viewAlbumLikes">View Album Likes</a>
    <a href="/like/song">Like Songs</a>
    <a href="/like/album">Like Album</a>
    <a href="/artist/rank">Rank artists</a>
    <a href="/song/albumsongs">Songs of an Album</a>
    <a href="/album/genre">Specific Genre</a>
    <a href="/song/search">Search Songs</a>
    <a href="/song/viewpopular">View Popular Songs of an Artist</a>
    <a href="/artist/workedtogether">View Artists who worked together</a>


</div>
</body>
</html>